body {

    background: url('../img/Focal-Fossa_WP_4096x2304_GREY.png');

    div {
        text-align: center;

        h1 {
            color: #000;
        }
        h2 {
            color: #222;
        }
        h3 {
            color: #444;
        }
        h4 {
            color: #666;
        }
        h5 {
            color: #888;
        }
        h6 {
            color: #999;
        }
    }
}
